<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/splashlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splashlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.GPTRecipie"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RecipeListActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GPTRecipie">

        </activity>
        <activity
            android:name=".activity.RecipeActivity"
            android:exported="true" />
        <activity
            android:name=".activity.RecipePagerActivity"
            android:exported="true"
            android:parentActivityName=".activity.RecipeListActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.team.gptrecipie.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />
        </provider>
    </application>

</manifest>